#g_navi {
	background: rgb(0, 0, 137);
}

#g_navi ul {
	display: flex;
	margin: 0 auto;
	padding: 0 3%;
	width: 94%;
	max-width: 960px;
	list-style-type: none;
}
#g_navi ul li {
	position: relative;
	width: 20%;
}
#g_navi ul li:first-child::before {
	position: absolute;
	display: block;
	content: "";
	top: 25%;
	left: 0px;
	width: 1px;
	height: 50%;
	background-color: #976d52;
}
#g_navi ul li::after {
	position: absolute;
	display: block;
	content: "";
	top: 25%;
	right: 0px;
	width: 1px;
	height: 50%;
	background-color: #976d52;
}
#g_navi ul li a {
	display: block;
	padding: 17px 10px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
#g_navi ul li a:hover {
	background-color: #472108;
}

.newsline {
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
}

.newshead {
	margin: 0;
	width: 10%;
	font-size: 20px;
	background-color: rgb(81, 81, 81);
}

.newshead p {
	margin: auto;
	background: linear-gradient(to right,#f59090,#fcd7a1,#fff9b1,#a5d4ad,#a3bce2,#a59aca,#cfa7cd) 0 / 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation: 1.5s example4 linear infinite;
}

.scroll {
	margin: auto;
	color: #666666;
	overflow:hidden;
	background-color: #ffbdbd;
	width: 90%;
  }
  .news {
	font-size: 15px;
	display: inline-block;
	padding-left: 100%;
	white-space: nowrap;
	line-height: 2em;
	animation: scrollAnime 40s linear infinite;
  }

.news div {display: inline-block; margin-right: 10px;}
@keyframes scrollAnime{
  	0% {transform: translateX(0)}
	100% {transform: translateX(-100%)}
}

@keyframes example4{
    100% { background-position: 200%; }
}

